.projectsBlock {
    border: 1px solid greenyellow;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}