.about {
    border: 1px solid green;
    /*height: 100vh;*/
}

.text {
    width: 600px;
    background-color: lightseagreen;
    color: #3c3e41;
}

.text h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    color: #3c3e41;
}

.photo {
    width: 270px;
    height: 327px;
    border-radius: 20px;
}