.about {
    border: 1px solid green;
    /*height: 100vh;*/
}

.text {
    width: 300px;
    background-color: lightseagreen;
}

.photo {
    width: 270px;
    height: 327px;
    border-radius: 20px;
}